.App {
  text-align: center;
}

.Home {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}

.Home input {
  margin-bottom: 20px;
  width: 200px;
  padding: 10px;
}

.Home button {
  margin: 10px;
  padding: 10px;
}