@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Noto+Sans+KR&family=Shadows+Into+Light&display=swap');
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

#root {
  --yellow-color: #EABD46;
  --gray-color:#909090;
  --light-gray-color: #D7D7D7;
  --white-color: #ffffff;
  --button-color: #ffdfdf;
  font-family: 'Gamja Flower', cursive;
  font-size: 20px;
}

.App {
  background-color: var(--yellow-color);
  text-align: center;
  width: 100%;
  height: 100vh;
}


/* Cover.js */
.Cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: salmon; */
  width: 100%;
  height:100vh;
}
.Cover h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size:25px;
  margin: 30px 0px 0px 0px;
}
.Cover h3 {
  font-size: 60px;
  font-weight: bold;
  padding-top:20vh;
  margin-bottom: 50px;
}
.Cover .CoverInput {
  display: flex;
  position: relative;
  justify-content: center;
}

.Cover .CoverInput img {
  width: 200px;
  position: absolute;
  left: 30px;
}
.Cover .CoverInput .inputName input {
  width: 450px;
  height: 60px;
  padding: 10px;
  border-radius: 50px;
  border-style: none;
  text-align: center;
  font-size: 23px;
  box-shadow: 5px 4px 10px #aeaeae;
  margin-top: 115px;
}

/* Home.js */
.Home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Home .homeTitle h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size:25px;
  margin: 30px 0px 30px 0px;
}

.Home .homeTitle h3 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 50px;
}

.Home .imgAndbtn {
  display: flex;
  position: relative;
}
.Home .SimsimiBackground {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white-color);
  border-radius: 30px;
  box-shadow: 5px 4px 10px #b1b1b1 ;
  width: 60vh;
  height: 52vh;
  align-items: center;
}

.Home .SimsimiBackground span {
  /* font-family: 'NanumSquare', sans-serif; */
  font-size: 25px;
  width: 40vh;
  /* border: 1px solid black; */
  position: absolute;
  top:100px;
}
.Home .SimsimiBackground .imgs {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top:40vh;
  animation: SimSimiImg 0.8s linear infinite alternate;
}
.Home .SimsimiBackground img {
  width: 23vh;
}
.Home .SimsimiBackground .simsimi {
  display: flex;
  position: absolute;
  bottom: 15px;
}
.Home .SimsimiBackground .shadow {
  display: flex;
  /* position: absolute; */
  /* bottom: 0px; */
}
@keyframes SimSimiImg {
  0% {
    margin-left: 20px;
    /* 랜덤값주기 */
    /* margin-top: 120px; */
  }
  100% {
    margin-right: 20px;
    /* margin-top: random(5)+px; */
  }
}

.Home .teachBtn {
  display: flex;
  position:fixed;
  right:30px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* margin: 80px 0px 0px 30px; */
  width: 90px;
  height: 200px;
}

.Home .teachBtn button{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border-style: none;
  background-color: var(--button-color);
  box-shadow: 3px 4px 20px #a6a6a6 ;
  cursor: pointer;
}

.Home .teachBtn  button:hover {
  background-color: #dd4200;
}

.Home .teachBtn .teach {
  display: flex;
  margin-top: 130px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.Home .teachBtn img {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 0px;
  margin: 0px;
}

.Home .shareBtn {
  top: 350px;
}

.Home .shareBtn img {
  width: 40px;
  height: 40px;
  padding-right:5px;
}

.Home .imgAndbtn .fadeout {
  animation: Fadeout 0.5s ease-out forwards;
}

.Home .imgAndbtn .fadein {
  animation: Fadein 0.5s ease-out forwards;
}

@keyframes Fadeout {
  0% {
    right:30px;
  }
  100% {
    right: -100px;
  }
}

@keyframes Fadein {
  0% {
    right:-100px;
  }
  100% {
    right: 30px;
  }
}


.Home .messageInputSendArea{
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 30px;
}
.Home .messageInputArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Home .messageInputArea input {
  margin-bottom: 20px;
  margin-left: 70px;
  /* width: 45vh; */
  width: 60vh;
  height: 4vh;
  padding: 10px;
  border-radius: 30px;
  border-style: none;
  text-align: center;
  font-size: 18px;
  box-shadow: 5px 4px 10px #aeaeae ;
}

.Home .messageInputSendArea .submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border-style: none;
  margin-left: 20px;
  background-color: var(--button-color);
  box-shadow: 3px 4px 20px #a6a6a6 ;
  cursor: pointer;
}

.Home .messageInputSendArea .submitBtn:hover {
  background-color: #dd4200;
}

.Home .messageInputSendArea .submitBtn img {
  width: 30px;
  height: 30px;
}

.Home .moveleft {
  animation: MoveLeft 1s ease-out forwards;
}

@keyframes MoveLeft {
  0% {
    right:0vh;
  }
  100% {
    right: 45vh;
    /* width: 450px; */
  }
}

/* MessageList.js */
.MessageListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* 부모는 Home 컴포넌트 */
  position: absolute;
  top: 20%;
  right: 10%;
}

.MessageListContainer {
  animation: Fadein 0.5s ease-out forwards;
}

@keyframes Fadein {
  0% {
    opacity: 0;
    top: 25%;
  }
  100% {
    opacity: 1;
    top: 20%;
}

}

.MessageListContainer .MessageList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* MessageItem.js */
.MessageItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 20px 0px 20px 0px;
  /* width: 300px; */
}
.MessageItem .teach, .simsimi {
  display: flex;
  /* width: 500px; */
}
.MessageItem .explain {
  display: flex;
  align-items:center;
}
.MessageItem span {
  font-size: 25px;
}
.MessageItem .teachMessage {
  width: 400px;
  border-radius: 30px;
  background-color: #2C2F37;
  color: var(--white-color);
  padding: 10px 20px 10px 20px;
  margin: 5px;
  /* margin-top: 60px; */
}
.MessageItem .answer {
  width: 400px;
  border-radius: 30px;
  background-color: #FFDD55;
  padding: 10px 20px 10px 20px;
  /* margin: 5px; */
  overflow: hidden;
}

.Narration {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 130px;
  background-color: black;
  opacity: 0.8;
  color: var(--white-color);
  font-size: 25px;
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'NanumSquare', sans-serif;
}

.Narration .before, .next {
  cursor: pointer;
}

.Narration .before {
  margin-right: auto;
  margin-left: 20px;
}

.Narration .next {
  margin-left: auto;
  margin-right: 20px;
}

/* TeachModal */

.TeachModal {
  display: flex;
  position: absolute;
  font-family: 'NanumcSquare', sans-serif;
  font-weight: bold;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.TeachModal .TeachModalBox {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--white-color);
  width: 650px;
  height: 470px;
  /* opacity:1; */
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}
.TeachModal .TeachModalBox .CloseBtn{
  display:flex;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.TeachModal .TeachModalBox img {
  width: 25px;
  position: absolute;
}

.TeachModal .TeachModalBox .inputs {
  margin-top: 30px;
}
.TeachModal .TeachModalBox .inputs input{
  display: flex;
  flex-direction: column;
  border-style: none;
  background-color: var(--light-gray-color);
  width: 430px;
  height: 55px;
  border-radius: 10px;
  margin: 10px 0px 30px 0px;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.TeachModal .TeachModalBox .okaybutton button{
  /* font-family: 'Gamja Flower', cursive; */
  background-color: var(--white-color);
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 40px;
  border-style: none;
  width: 400px;
  height: 50px;
  border-radius: 40px;
  box-shadow: 3px 3px 10px #a6a6a6 ;
  cursor: pointer;
  border: 1px solid black;
}

/* sharmodal */

.TeachModal .linkShareButton button {
  /* font-family: 'Gamja Flower', cursive; */
  background-color: var(--white-color);
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 200px;
  border-style: none;
  width: 400px;
  height: 50px;
  border-radius: 40px;
  box-shadow: 3px 3px 10px #a6a6a6 ;
  cursor: pointer;
  border: 1px solid black;
}